<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Product Application</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
	<script src="productApp.js"></script>
	<script src="productService.js"></script>
	<script src="productController.js"></script>
	
	<link href="styles.css" rel="stylesheet"/>
	</head>
	
	<body ng-app="productApp" id="productBody">
		<div ng-controller="ProductController" ng-cloak>
			<div class="searchContainer">
				<h2>Product List</h2>
				<label><h3>Categories</h3></label>
				<ul class="categoryCB">
					<li ng-repeat="category in categories"><a href="" ng-model="filterFields" ng-click="toggleCategories(category)">{{category}}</a></li>
				</ul>
				<!-- <select ng-model="filterCategories" class="categoryDropdown">
					<option ng-repeat="category in categories" class="optionClass">{{ category }}</option>
				</select> -->
				<div>
					<ul class="sortList">
						<li ng-repeat="sortField in sortFields"><a href="" ng-model="sortFields" ng-click="setSortSelection(sortField.value)">{{sortField.displayText}}</a></li>
					</ul>
				</div>
			</div>
			<div ng-if="productList.length > 0">
				<product-list></product-list>
			</div>
		</div>
	</body>
</html>