html, body{
	font-family: 'Helvetica';
}

.productGrid li{
	list-style-type: none;
}

.productClass{
	width: 95%;
	padding: 10px;
	border-bottom: 5px solid #FFFFFF;
	background-color:#58B9C7;
}

.contentClass{
	width: 50%;
}

.productIcon{
	width: 10%;
	float: left;
	padding: 10px;
	height: 120px;
}

.categoryClass{
	font-weight: bold;
	font-size: 15px;
	display: block;
}

.loadingClass{
	text-align: center;
	color: #2b76dc;
	font-size: 30px;
	font-weight: bold;
}

.searchContainer{
	text-align: center;
}

.searchContainer h2{
	width: 100%;
	background-color: #0B4C5F;
	padding: 10px;
	color: #ffffff;
	width: 98%;
}

.categoryFilter li{
	list-style-type : none;
	display: inline;
	padding: 10px;
}

.categoryDropdown{
	height: 48px;
	width: 150px;
}

.optionClass{
	cursor: pointer;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: auto;
	padding: 0 16px;
	height: 48px;
	font-size: 20px;
}

.optionClass:hover{
	background-color: #58D3F7;
}

@media only screen and (max-width: 768px) {
	.categoryFilter li{
		display: block;
		padding: 10px;
	}
}