html, body{
	font-family: 'Helvetica';
}

.productGrid{
	width: 100%;
	padding: 0px;
}

.resultCounter{
	text-align: center;
	padding: 5px;
	font-weight: bold;
}

.productGrid li{
	list-style-type: none;
}

.productClass{
	padding: 5px;
	border-bottom: 5px solid #58B9C7;
	border-right: 5px solid #58B9C7;
	border-left: 2px solid #58B9C7;
	border-top: 2px solid #58B9C7;
	border-radius : 5px;
}

.productGridElement{
	width: 32%;
	float: left;
	padding: 4px;
}

.contentClass{
	width: 50%;
	padding: 10px;
}

.productIcon{
	float: right;
	display: inline;
	width: 40%;
	height: 40%;
}

.productIcon img{
	width: 60%;
	height: 80%;
}

.categoryClass{
	font-weight: bold;
	font-size: 15px;
	display: block;
}

.loadingClass{
	text-align: center;
	color: #2b76dc;
	font-size: 30px;
	font-weight: bold;
}

.searchContainer{
	text-align: center;
	display: block;
}

.searchContainer h2{
	background-color: #0B4C5F;
	padding: 10px;
	color: #ffffff;
	width: 98%;
}

.categoryFilter li{
	list-style-type : none;
	display: inline;
	padding: 10px;
}

.categoryCB{
	height: 40px;
}

.categoryCB li{
	list-style-type: none;
	display: inline;
	padding-left: 40px;
}

.optionClass{
	cursor: pointer;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: auto;
	padding: 0 16px;
	height: 40px;
	font-size: 20px;
}

.optionClass:hover{
	background-color: #58D3F7;
}

.productLabel{
	color: #58B9C7;
}

.sortList{
	display: block;
	padding: 10px;
}

.sortList li{
	list-style-type: none;
	padding: 10px;
	display: inline;
}

.sortList li a{
	color: #58B9C7;
}

@media only screen and (max-width: 768px) {
	.categoryFilter li{
		display: block;
		padding: 10px;
	}
	
	.productGrid{
		width: auto;
	}
	
	.productGridElement{
		width: 28%;
		font-size: 60%;
		float: left;
		padding: 5px;
	}
	
	.searchContainer h2{
		width: auto;
	}
	
	.scoreClass{
		overflow-x: inline;
	}
	
	.categoryCB li{
		display: block;
		padding-left: 0px;
		padding-bottom: 10px;
		text-align: justify;
	}
	
	.categoryCB{
		height: auto;
	}
	
}